<ion-header>
  <ion-toolbar>
    <ion-title>dataDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <ion-card *ngFor="let data of data">
    <ion-card-header>
      <ion-item><H1 lines="inset" routerLink="/details/{{data.id}}"> <ion-label>{{data.Nombre}} {{data.Apellido}}</ion-label>  </H1>
        </ion-item>
      <ion-item lines="inset" routerLink="/details/{{data.id}}"> <ion-label> Edad: {{data.Edad}}</ion-label></ion-item>
      <ion-item lines="inset" routerLink="/details/{{data.id}}"> <img src="{{data.Foto}}" ></ion-item>
    </ion-card-header>
    
  </ion-card>
  
  

</ion-content>
