<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Parcial 01
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let data of data">
    <ion-card-header>
      <ion-item><H1 lines="inset" routerLink="/details/{{data.id}}"> <ion-label>{{data.Nombre}} {{data.Apellido}}</ion-label>  </H1>
        </ion-item>
      <ion-item lines="inset" routerLink="/details/{{data.id}}"> <ion-label> Edad: {{data.Edad}}</ion-label></ion-item>
    </ion-card-header>
    
  </ion-card>


 

</ion-content>
